.Header {
  &__Row {
    align-items: center;
    justify-content: space-between;

    .Log {
      text-align: end;
      button {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .Ico {
          font-size: $ico-fsize;
        }
      }
    }
  }
}
