.MainLayout {
  .AppDisplay {
    // width: 100%;
    // height: auto;
    max-height: 80%;
    padding: 1vh;
  }
  button {
    padding: 2vh;
    margin: 1vh;
    border-radius: 40%;
    // border: none;
    border: 0.5px solid lightgray;
    background-color: transparent;
    box-shadow: 5px 5px 5px lightgrey;

    a {
      text-decoration: none;
    }
  }
}
